<fieldset data-payment-target="additionalFields" data-type="Pedido de compra">
  <div class="my-5">
    <%= form.label :po_number, "Número do pedido de compra" %>
    <%= form.number_field :po_number, class: "input-field" %>
  </div>
</fieldset>
