<div id="<%= dom_id cart %>" class="w-full sm:w-auto my-5 space-y-5">
    <h2 class="font-bold text-lg mb-3">Seu carrinho</h2>

    <ul class="list-none list-inside">
        <% cart.line_items.each do |item| %>
            <li><%= item.quantity %> &times; <%= item.product.title %></li>
        <% end %>
    </ul>
</div>

<%= button_to 'Esvaziar carrinho', cart, method: :delete,
  class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>